
html{
    height: 100%;
}

body{
    background-color: var(--color-palette-background1);
    font: 75% Helvetica;
    color: var(--color-palette-foreground);
    margin: inherit;
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

.pactl_wasm_webapp{
    display: grid;
    justify-content: left;
    grid-template-rows: auto;
    grid-template-columns: 20% 60% 20%;
}

.pactl_webapp_input{
  display: grid;
  grid-auto-rows: auto auto auto max-content;
  grid-auto-columns: auto;
}

.pactl_webapp_main{
  display: grid;
  grid-auto-rows: auto auto max-content;
}

.pactl_webapp_main_available_sources{
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 25% 25% 25% 25%;
}

.pactl_webapp_main_source_button{
  white-space: normal;
}

.wactl_webapp_output{
  display: grid;
  grid-auto-rows: auto auto max-content;
  grid-auto-columns: auto;
}